figure {
  max-width: 500px;
  margin: 0 auto;
}

main h1 {
  border-bottom: 1px solid #cecece;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

p {
  margin: 0;
    margin-bottom: 15px;
    font-weight: 300;
}

ol {
  margin-top: 15px;
}

ol li {
  font-weight:bold;
}
li > * {
  font-weight:300;
  margin: 0;
}

.editor {
  width: 100%;
  height: 650px;
  margin: 15px 0;
}

.result {
  border: 1px dotted #14a912;
  padding: 20px 10px;
  margin-bottom: 15px;
  background-color: azure;
  color: #14a912;
  border-radius: 5px;
}

.input {
  border: 1px dotted #121ca9;
  padding: 20px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: azure;
  color: #121ca9;
  border-radius: 5px;
}

.ace_content {
  padding: 10px;
}

#editor1 {
  height: 100px;
}

#editor2 {
  height: 580px;
}

#editor3 {
  height: 400px;
}

#editor4 {
  height: 80px;
}

#editor5 {
  height: 230px;
}

#editor6 {
  height: 250px;
}

#editor7 {
  height: 155px;
}

#editor8 {
  height: 285px;
}

#editor9 {
  height: 290px;
}

#editor10 {
  height: 310px;
}

#editor11 {
  height: 300px;
}

#editor12 {
  height: 280px;
}
#editor13 {
  height: 330px;
}
#editor14 {
  height: 250px;
}
#editor15 {
  height: 155px;
}
#editor16 {
  height: 140px;
}
#editor17 {
  height: 175px;
}
#editor18 {
  height: 420px;
}
#editor19 {
  height: 80px;
}
#editor20 {
  height: 215px;
}
#editor21 {
  height: 450px;
}
#editor22 {
  height: 160px;
}
#editor23 {
  height: 200px;
}
#editor24 {
  height: 400px;
}
#editor25 {
  height: 80px;
}
#editor26 {
  height: 590px;
}
#editor27 {
  height: 460px;
}