textarea {
  width: 800px;
  height: 250px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 15px;
}

main h1 {
  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 24px;
}

label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: 300;
}

input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cecece;
}

input.error {
  border: 1px solid #d20000;
}

input.error::after {
  content: "Story name is required.";
  display: block;
  height: auto;
  width: auto;
}

section button {
  margin: 15px 0;
  background: dodgerblue;
  border: 1px solid dodgerblue;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#story_title {
  text-transform: capitalize;
}

#story_display {
  font-size: 14px;
}

#error_message {
  font-size: 14px;
  font-weight: 500;
  color: #d20000;
  padding: 0;
  background-color: #feffe0;
  opacity: 0;
}

#error_message.show {
  padding: 15px;
  opacity: 1;
}